/*
 * Box-sizing-model
 */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*
 * Responsive images
*/
/*img {
  max-width: 100%;
  height: auto;
}*/
/*
 * Cursor change on hover on Buttons
*/
input[type="submit"] {
  cursor: pointer;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
.clear {
  clear: both;
  height: 0;
  width: 0;
  visibility: hidden;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  color: #303030;
  font-family: 'Source Sans Pro', sans-serif;
  min-width: 320px;
}
a {
  color: #FFF;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #ff1493;
}
.block {
  background-color: #c6c6c6;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 24px;
  color: red;
  font-weight: bold;
}
section {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  padding-top: 70px;
  padding-bottom: 0px;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
@media (min-width: 768px) {
  section {
    padding-top: 115px;
    padding-left: 0;
    padding-right: 0;
  }
}
.section__small-title {
  font-family: 'Raleway', sans-serif;
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.section__title {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 15px;
}
@media (min-width: 480px) {
  .section__title {
    font-size: 50px;
  }
}
@media (min-width: 768px) {
  .section__title {
    font-size: 60px;
    margin-bottom: 65px;
  }
}
.section__paragraf {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 25px;
  color: #646361;
  text-align: justify;
}
@media (min-width: 480px) {
  .section__paragraf {
    font-size: 26px;
    line-height: 36px;
  }
}
@media (min-width: 768px) {
  .section__paragraf {
    font-size: 24px;
    line-height: 36px;
  }
}
.section-top-row {
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .section-top-row {
    margin-bottom: 80px;
  }
}
@media (min-width: 992px) {
  .section-top-row {
    margin-bottom: 135px;
  }
}
.section__paragraf-pad-30 {
  padding-left: 30px;
  padding-right: 30px;
}
.bold-text {
  font-weight: 700;
}
.italic-text {
  font-style: italic;
}
.section__paragraf-special {
  font-size: 30px;
  font-weight: 700;
  color: blue;
}
.paragraf-center {
  text-align: center;
}
.img-block {
  width: 100%;
  background-color: blue;
  height: 315px;
  position: relative;
}
.img-block img {
  margin-left: auto;
  margin-right: auto;
}
.center-slogan {
  max-width: 100%;
  height: 315px;
  background-color: blue;
  /*background: url("../img/crepto3.png");
	background-repeat: no-repeat;
	background-size: cover;	 */
  margin-left: auto;
  margin-right: auto;
}
.slogan-content {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: 700;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(0, 0, 0, 0.8);
}
.center-slogan h2 {
  font-size: 22px;
}
.center-slogan h2 span {
  font-size: 22px;
}
.button-parent {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 12;
  max-width: 1100px;
  margin: auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
}
.button-parent--inner {
  padding: 10px;
}
a {
  text-decoration: none;
  font-weight: 700;
  position: relative;
  color: #cccccc;
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
a:hover {
  color: red;
}
.btn-1 {
  padding: 1em 3em;
  border: 3px solid #cccccc;
  transition: all 300ms ease;
  box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.btn-1:before {
  position: absolute;
  content: '';
  width: 0%;
  height: 100%;
  background: #cccccc;
  top: 0;
  left: 50%;
  z-index: -1;
  transition: all 0ms ease;
}
.btn-1:hover {
  color: #333;
  box-shadow: none;
}
.btn-1:hover:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: #cccccc;
  top: 0;
  left: 0%;
  z-index: -1;
  transition: all 300ms ease;
}
.btn-1:active {
  color: #cccccc;
  background-color: rgba(0, 0, 0, 0.7);
}
.cmn-toggle-switch {
  display: block;
  position: absolute;
  overflow: hidden;
  top: 25px;
  right: 0px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 5;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 45px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
@media (min-width: 768px) {
  .cmn-toggle-switch {
    display: none;
  }
}
.cmn-toggle-switch:focus {
  outline: none;
}
.cmn-toggle-switch span {
  display: block;
  position: absolute;
  top: 20px;
  left: 5px;
  right: 5px;
  height: 5px;
  background: #333;
}
.cmn-toggle-switch span::before,
.cmn-toggle-switch span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #333;
  content: "";
}
.cmn-toggle-switch span::before {
  top: -12px;
}
.cmn-toggle-switch span::after {
  bottom: -12px;
}
/**
 * Style 2
 */
.cmn-toggle-switch__htx {
  background-color: transparent;
}
.cmn-toggle-switch__htx span {
  -webkit-transition: background 0 0.3s;
  transition: background 0 0.3s;
}
.cmn-toggle-switch__htx span::before,
.cmn-toggle-switch__htx span::after {
  -webkit-transition-duration: 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0;
  transition-delay: 0.3s, 0;
}
.cmn-toggle-switch__htx span::before {
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, transform;
}
.cmn-toggle-switch__htx span::after {
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform;
}
/* active state*/
.cmn-toggle-switch__htx.active {
  position: fixed;
}
.cmn-toggle-switch__htx.active span {
  background: none;
}
.cmn-toggle-switch__htx.active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cmn-toggle-switch__htx.active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.cmn-toggle-switch__htx.active span::before,
.cmn-toggle-switch__htx.active span::after {
  -webkit-transition-delay: 0, 0.3s;
  transition-delay: 0, 0.3s;
}
/***********************************/
/* Стили для содержимого popup окна */
input,
textarea {
  color: #000;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  background: #fff;
  font-size: 14px;
  margin: 0 0 10px;
  padding: 5px;
  width: 100%;
  line-height: 1.5;
}
input:focus {
  border-color: #808080;
  outline: none;
}
textarea:focus {
  border-color: #808080;
  outline: none;
}
/* Окно */
.overlay_popup {
  /*display: block;*/
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #000;
  opacity: 0.5;
}
.popup {
  display: none;
  /*display: block;*/
  position: relative;
  z-index: 1000;
  margin: 0 25% 0 25%;
  width: 50%;
}
/* Ещё немного стилей для popup окна */
.object {
  width: 100%;
  height: auto;
  text-align: center;
  background-color: rgba(51, 51, 51, 0.8);
  position: fixed;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}
@media (min-width: 768px) {
  .object {
    width: 60%;
  }
}
@media (min-width: 992px) {
  .object {
    width: 55%;
  }
}
.object h4 {
  font-size: 18px;
  margin-bottom: 30px;
  color: #fff;
}
input[type="submit"] {
  color: #fff;
  background-color: inherit;
  display: block;
  width: 150px;
  float: right;
  padding-top: 8px;
  padding-bottom: 8px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
input[type="submit"]:hover {
  color: #999999;
  background-color: #3c444799;
}
input[type="submit"]:active {
  color: #333;
  background-color: #cccccc;
}
label.error {
  font-size: 12px;
  color: red;
}
/*окно благодарность*/
.contact-form__success {
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  line-height: 34px;
  width: 100%;
  height: auto;
  background-color: #f3f8fb;
  color: #333333;
  font-size: 18px;
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}
#answer {
  font-size: 0;
}
/*крестик закрыть окно*/
#form-close {
  position: absolute;
  right: 20px;
  top: 10px;
  color: #aac4d4;
  font-size: 24px;
  display: inline-block;
  padding: 5px;
  cursor: pointer;
}
#form-close:hover {
  color: #fff;
}
.form-block-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}
.form-block-container input,
.form-block-container textarea {
  padding: 12px;
  font-size: 14px;
}
.form-left-container,
.form-right-container {
  width: 49%;
}
#contact-form {
  padding: 20px;
}
@media (min-width: 680px) {
  .contact-block {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
}
input {
  display: block;
  font-size: 16px;
  width: 235px;
  margin-bottom: 15px;
  padding: 10px;
  background-color: #fff;
}
@media (min-width: 768px) {
  input {
    display: inline-block;
    margin-right: 5px;
  }
}
header {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  padding: 25px;
  color: #fff;
  background: url('../img/bg/bg-head.jpg');
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-width: 480px) {
  header {
    background-image: none;
    height: 700px;
  }
}
.slider {
  display: none;
}
@media (min-width: 480px) {
  .slider {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
/*header::before {
    content:"";
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right:0;
    background-color: rgba(255,255,255, .2);
    z-index:11;
}*/
.header__logo {
  position: absolute;
  top: 10px;
  left: 28px;
  z-index: 14;
}
/*стили для навигации*/
.header__nav {
  position: absolute;
  z-index: 15;
  top: 20px;
  right: 50px;
  width: 100%;
  height: 150px;
}
@media (min-width: 768px) {
  .header__nav {
    display: block;
    position: absolute;
    z-index: 15;
    top: 20px;
    right: 50px;
    height: 50px;
  }
}
.header__menu {
  display: none;
  float: right;
}
@media (min-width: 768px) {
  .header__menu {
    display: block;
  }
}
.header__menu a {
  font-size: 15px;
  font-weight: 700;
  padding: 8px 10px;
  text-transform: uppercase;
  color: #333;
}
@media (min-width: 768px) {
  .header__menu a {
    font-size: 13px;
  }
}
.header__menu a:hover,
.header__menu a:focus {
  color: #cccccc;
  border-bottom: 1px solid #cccccc;
}
.header__menu-icon {
  font-size: 18px;
  position: absolute;
  top: 30px;
  right: 30px;
  display: block;
  float: right;
  color: #fff;
}
@media (min-width: 768px) {
  .header__menu-icon {
    display: none;
  }
}
.header__menu-icon:hover {
  color: #daa520;
}
.header__menu-icon:focus,
.header__menu-icon:active {
  color: #fff;
}
/*class responsive for menu*/
.header__menu.responsive {
  display: block;
  float: none;
}
.header__menu.responsive a {
  display: block;
  text-align: center;
}
.header__menu.responsive a:hover {
  padding-bottom: 7px;
}
/* end class responsive for menu*/
.header__title {
  position: absolute;
  top: 185px;
  left: 50%;
  margin-left: -150px;
  width: 285px;
  height: auto;
  text-align: center;
}
@media (min-width: 400px) {
  .header__title {
    top: 235px;
  }
}
@media (min-width: 768px) {
  .header__title {
    width: 585px;
    margin-top: 100px;
    top: 75px;
    left: 50%;
    margin-left: -300px;
  }
}
@media (min-width: 992px) {
  .header__title {
    margin-top: 120px;
  }
}
.header__title-top {
  display: none;
}
@media (min-width: 480px) {
  .header__title-top {
    font-family: 'Raleway', sans-serif;
    font-size: 19px;
    display: block;
    margin-bottom: 70px;
    text-transform: uppercase;
    color: #fff;
  }
}
@media (min-width: 480px) and (min-width: 992px) {
  .header__title-top {
    margin-bottom: 50px;
  }
}
.header__title-center {
  font-family: 'lobster_1.3regular';
  font-size: 80px;
  font-style: italic;
  line-height: 80px;
  margin-bottom: 70px;
}
@media (min-width: 768px) {
  .header__title-center {
    font-size: 150px;
    line-height: 130px;
  }
}
.fa-chevron-down {
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -20px;
}
@media (min-width: 768px) {
  .fa-chevron-down {
    bottom: 20px;
    margin-left: 0px;
  }
}
.header__text-bottom-left,
.header__text-bottom-right {
  display: none;
}
@media (min-width: 768px) {
  .header__text-bottom-left,
  .header__text-bottom-right {
    display: block;
    position: absolute;
    bottom: 20px;
  }
}
.header__text-bottom-left {
  left: 30px;
}
.header__text-bottom-right {
  right: 30px;
}
.header__carousel-item {
  width: auto;
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.item1 {
  background-image: url("../img/bg/bg4.jpg");
}
.item2 {
  background-image: url("../img/bg/bg5.jpg");
}
.item3 {
  background-image: url("../img/bg/bg3.jpg");
}
/*.button-basic {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
    z-index: 10;

   width: 250px;
   height: 60px;
   border: 2px solid #333;

   & a {
    color: #333;
    font-size: 20px;
    font-weight: 700;
    &:hover {
        color: #777;
    }
   }

}*/
.section-top {
  background-color: #cfd5df;
  /*@media (min-width: 992px) {		
	    background: url("../img/bg/start_adv_top_bg.jpg");	
	    background-size: cover;
	    background-position: center;
	    background-repeat: no-repeat;  
	}*/
}
/*.section-top-icon {
	margin-bottom: 20px;
	 text-align: center;
	 margin-left: auto;
	 margin-right: auto;
	 
	 
}
.icon-signal {
	width: 36px; height: 36px;
	background: url('../img/icons/css_sprites.png') -5px -85px;
}
.icon-sync {
    width: 46px; height: 35px;
    background: url('../img/icons/css_sprites.png') -85px -5px;
}
.icon-music {
	width: 28px; height: 37px;
    background: url('../img/icons/css_sprites.png') -141px -5px;
}
.section__small-title-mb10 {
	font-size: 16px;
	margin-bottom: 10px;
	@media (min-width:768px){
     	font-size: 19px;
    }
 } */
.section__paragraf-fsz {
  font-size: 18px;
  line-height: 24px;
  padding-left: 35px;
  padding-right: 35px;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .section__paragraf-fsz {
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 0px;
  }
}
@media (min-width: 768px) {
  .section-top__block-border:not(:last-child) {
    border-right: 1px solid #bfc4cd;
  }
}
.section-middle {
  background-color: #e6e4df;
  /*
		@media (min-width: 992px) {		
		background: url("../img/bg/best_sound_bg.jpg");
		background-size: cover;
	    background-position: center;
	    background-repeat: no-repeat;
	}*/
}
.section__paragraf-mb {
  margin-bottom: 50px;
}
.section__paragraf-small {
  font-family: 'Source Sans Pro', sans-serif;
  color: #646361;
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .section__paragraf-small {
    font-size: 22px;
    line-height: 27px;
  }
}
.action-programm .section__small-title {
  text-align: left;
}
.programm-date {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 35px;
  color: blue;
}
.action-programm {
  margin-left: auto;
  margin-right: auto;
  padding: 35px;
  width: 90%;
  box-shadow: 0px 1px 12px -3px #000000;
  background-color: #edeef0;
  margin-bottom: 40px;
}
.programm-list span {
  color: #777;
  margin-right: 15px;
}
.section__list-title {
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  margin-top: 40px;
  margin-left: 30px;
  margin-bottom: 30px;
}
ul.programm-list {
  list-style-type: none;
  text-align: left;
}
ul.programm-list li {
  margin-bottom: 15px;
  font-size: 16px;
}
.section-bottom {
  background-color: #cfdfdd;
  padding-bottom: 130px;
}
@media (min-width: 480px) {
  .section-bottom {
    padding-bottom: 230px;
  }
}
@media (min-width: 768px) {
  .section-bottom {
    background: url("../img/bg/start_adv_bottom_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.section-bottom-pt-235 {
  padding-top: 70px;
}
@media (min-width: 992px) {
  .section-bottom-pt-235 {
    padding-top: 235px;
  }
}
.section__paragraf-mb45 {
  margin-bottom: 45px;
}
.button-text {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  margin-left: 65px;
  padding-top: 8px;
}
@media (min-width: 480px) {
  .button-text {
    font-size: 20px;
    padding-top: 0;
  }
}
.button-text span {
  font-weight: 300;
}
.video-slider {
  background-color: #f5f5f5;
}
.video-slider__block {
  margin-bottom: 100px;
}
.video-slider__heading {
  margin-bottom: 50px;
}
.video-slider__block-item {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 260px;
  height: 390px;
  background-color: #fff;
  -webkit-box-shadow: -1px 23px 20px -25px #000000;
  box-shadow: -1px 23px 20px -25px #000000;
}
.video-slider__block-film {
  width: 260px;
  height: 200px;
  margin-bottom: 50px;
}
.video-slider__block-text {
  padding: 24px 20px 20px;
}
.video-slider__block-text-title {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 12px;
  text-transform: uppercase;
  color: #474747;
}
.video-slider__block-text-paragraf {
  font-size: 16px;
  margin-bottom: 20px;
  color: #919191;
}
.line {
  margin-bottom: 17px;
  border: 1px solid #eaeaea;
}
.video-slider__block-text-photo {
  position: absolute;
  bottom: 15px;
  left: 20px;
  width: 30px;
  height: 30px;
}
.text-title-sml {
  font-size: 13px;
  margin-bottom: 0;
  padding-left: 45px;
}
.text-paragraf-pdg {
  padding-left: 45px;
}
a.video-slider__block-button-play {
  top: 85px;
  left: 105px;
}
footer {
  font-family: 'Raleway', sans-serif;
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer-title {
  font-size: 18px;
  margin-bottom: 25px;
  text-align: center;
}
@media (min-width: 768px) {
  .footer-title {
    font-size: 22px;
  }
}
.footer__start-button {
  width: 235px;
  font-size: 17px;
  display: inline-block;
  padding-top: 13px;
  padding-bottom: 11px;
  text-align: center;
  letter-spacing: 2px;
  border-radius: 0;
  background-color: #ff905e;
}
/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/
.owl-theme .owl-controls {
  margin-top: 10px;
  text-align: center;
}
/* Styling Next and Prev buttons */
.owl-theme .owl-controls .owl-buttons div {
  position: absolute;
  top: 50%;
  color: #FFF;
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */
  margin: 5px;
  padding: 3px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background: #869791;
  filter: alpha(opacity=50);
  /*IE7 fix*/
  opacity: 0.5;
}
.owl-theme .owl-controls .owl-buttons div.owl-prev {
  display: none;
}
@media (min-width: 768px) {
  .owl-theme .owl-controls .owl-buttons div.owl-prev {
    display: block;
    width: 30px;
    height: 70px;
    left: 25px;
    background: url('../img/icons/css_sprites.png') -5px -5px;
  }
}
.owl-theme .owl-controls .owl-buttons div.owl-next {
  display: none;
}
@media (min-width: 768px) {
  .owl-theme .owl-controls .owl-buttons div.owl-next {
    display: block;
    width: 30px;
    height: 70px;
    right: 25px;
    background: url('../img/icons/css_sprites.png') -45px -5px;
  }
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover {
  filter: alpha(opacity=100);
  /*IE7 fix*/
  opacity: 1;
  text-decoration: none;
}
/* Styling Pagination*/
.owl-theme .owl-controls .owl-page {
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  filter: alpha(opacity=50);
  /*IE7 fix*/
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #869791;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  filter: alpha(opacity=100);
  /*IE7 fix*/
  opacity: 1;
}
/* If PaginationNumbers is true */
.owl-theme .owl-controls .owl-page span.owl-numbers {
  height: auto;
  width: auto;
  color: #FFF;
  padding: 2px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
/* preloading images */
.owl-item.loading {
  min-height: 150px;
  background: url(AjaxLoader.gif) no-repeat center center;
}
.owl-pagination {
  display: none;
}
/*# sourceMappingURL=main.css.map */