footer.contacts {
    padding-top: 10px;
    width: 100%;
    height: 120px;
    background-color: #fff;
    
     @media (min-width: 480px){
         height: 66px;
    }
}
.contact-block {
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
     
    @media (min-width: 992px){
        width: 60%;
    }
}
.contact-item {

    margin-bottom: 20px;
     @media (min-width: 480px){
        margin-bottom: 0px;
    }
}
a.mail{
    margin-left: 15px;
    text-transform: lowercase;
    margin-right: 10px;
}

.item-mail{
    display: flex;
    align-items: center;
    justify-content: center;

}
footer.contacts a {
    color: #333;
}
/*.contact-item .fa-facebook-square {
    margin-right: 25px;
    @media (min-width: 480px){
        margin-right: 35px;
    }
}*/