footer{
    font-family: 'Raleway', sans-serif;

    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-title{
    font-size: 18px;

    margin-bottom: 25px;

    text-align: center;
    @media (min-width: 768px){
       font-size: 22px;
    }
}



.footer__start-button{
    width: 235px;
    font-size: 17px;

    display: inline-block;

    padding-top: 13px;
    padding-bottom: 11px;

    text-align: center;
    letter-spacing: 2px;

    border-radius: 0;
    background-color: #ff905e;
}
