.section-middle {   	
	background-color: #e6e4df;  
	 box-shadow: -1px 11px 17px -7px #000000;
}

.section__paragraf-mb {
	margin-bottom: 50px;
}

.section__paragraf-small {
    
	color: #646361;
	margin-bottom: 40px;
    font-size: 18px;
    line-height: 24px;
    @media (min-width:768px) {
	font-size: 22px;
	line-height: 27px;	
	}
}
.action-programm .section__small-title {
	text-align: left;
}
.programm-date {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 35px;
	color: rgb(78,102,130);
}
.action-programm{
	margin-left: auto;
	margin-right: auto;
	padding: 35px;
	width: 99%;
	box-shadow: 0px 1px 12px -3px #000000;
	//background-color: rgba(230,228,223, .2);
	background-color:#fffffd;
	margin-bottom: 40px;
	 @media (min-width:768px) {
	 	width: 90%;
	 }

}
.programm-list span {
	color: #777;
	margin-right: 15px;
}
.section__list-title {
	font-size: 16px;
	font-weight: 700;
	text-align: left;
	margin-top: 40px;
	
	margin-bottom: 30px;
	@media (min-width: 768px){
		margin-left: 30px;
		font-size: 20px;
	}
}
ul.programm-list {
	list-style-type: none;
	text-align: left;
	padding-left: 0;
	@media (min-width: 768px){
		padding-left: 30px;
	}
}
ul.programm-list li {
	margin-bottom: 8px;
	font-size: 14px;
	
	@media (min-width: 768px){
		font-size: 18px;
		margin-bottom: 15px;
		
	}
}
.action-img {
	width: 100%;
	background-color: rgba(78,102,130, .7);
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 9px 18px -8px #000000;
}
/*.center-slogan-text {
	position: absolute;
	top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}*/
.center-slogan-text h2 {
	margin-bottom: 40px;
	font-size: 19px;
	font-weight: 700;
	color: #fff;

	 @media (min-width:768px){
        font-size: 24px;
    }
}