.section-middle {   	
	background-color: #e6e4df;   

		@media (min-width: 992px) {		
		background: url("../img/bg/best_sound_bg.jpg");
		background-size: cover;
	    background-position: center;
	    background-repeat: no-repeat;
	}
}

.section__paragraf-mb {
	margin-bottom: 50px;
}

.section__paragraf-small {
    font-family: 'Source Sans Pro', sans-serif;
	color: #646361;
	margin-bottom: 40px;
    font-size: 18px;
    line-height: 24px;
    @media (min-width:768px) {
	font-size: 22px;
	line-height: 27px;	
	}
}
