*{
    box-sizing: border-box;
}
body{
    //font-family: 'Fira Sans', sans-serif;
   font-family: 'Roboto', sans-serif;
   //font-family: 'Open Sans', sans-serif;
    min-width: 320px;
    margin: 0;
    padding: 0;

    color: #303030;
}
a{
    text-decoration: none;

    color: #fff;
    &:hover,
    &:focus{
        text-decoration: none;

        color: #777;
    }
}

.block{
    font-size: 24px;
    font-weight: bold;

    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;

    text-align: center;

    color: red;
    background-color: #c6c6c6;
}

.line{
    width: 95%;
    height: 2px;
    margin-right: auto;
    margin-left: auto;

    background-color: rgb(204, 204, 204);
}
.section__paragraf.margin-40{
    margin-bottom: 70px;
}
.padding-top-20{
    padding-top: 20px;
}
.padding-top-20 img{
    margin-bottom: 80px;
}
