* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	color: #303030;
	font-family: 'Fira Sans', sans-serif;
	min-width: 320px;
}
 a {
 	color: #FFF;
 	text-decoration: none;
 	&:hover,
 	&:focus {
 		text-decoration: none;
 		color: #ff1493;
 	}
 }

.block {
	background-color: #c6c6c6;
	padding:20px;	
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
	font-size: 24px;
	color: red;
	font-weight: bold;	
}

.line {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	
	height: 2px;
	background-color: rgb(204, 204, 204);
}
.section__paragraf.margin-40 {
	margin-bottom: 70px;
}
.padding-top-20 {
	padding-top: 20px;
}
.padding-top-20 img {
	margin-bottom: 80px;
}